*{
    box-sizing: border-box;
}

.navbar2{
    height: 60px;
} 

.container{
    margin: 0;
    padding: 0;
}
/* A CHILD */
.A{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 550px;
    width: 100%;
}

.ecrit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5rem;
    width: 50%;
    background-image: url('../../assets/FrameB.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.ecriture{
    display: flex;
    flex-direction: column;
}

.ecriture-top{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 60px;
    text-align: left;
    background-color: transparent;
}


.start{
    height: 50px;
    width: 150px;
    background-color: #0A66C2;
    border-radius: 8px;
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start p{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.imageF {
    width: 50%;
}

.imageF img{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 45px;
    margin-left: 60px;
}

/* B */

.B{
    height: 500px;
    background-color: #F7D2D2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.B-mentors{
    color: #0A66C2;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 1.89rem;
    display: flex;
    margin-top: 45px;
    margin-bottom: -0.63rem;
    margin-left: 4rem;
}

.Men{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mentor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 15.5rem;
    padding: 31px 52px;
    background-color: #FFFFFF;
    border-radius: 0.18rem;
    margin-left: 4rem;
    overflow: hidden;
}

.mentor p{
    display: flex;
    flex-direction: column;
    width: 190px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.08em;
    margin-top: 5px;
}

.mentor span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 19px;
    letter-spacing: 0.08em;
}

.mentor img{
    height: 6em;
    width: 6em;
    border-radius: 50%;
    margin-bottom: 10px;
}

.learn{
    height: 2.8rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A66C2;
    color: #FFFFFF;
    margin-left: 4rem;
    border-radius: 0.375rem;
    margin-bottom: 3.15rem;
}

/* C */

.C{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #EEDCEE;
    backdrop-filter: blur(12px);
    position: relative;
    z-index: -1;
    /* Tu dois prendre */
}

.C-left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-side-1{
    width: 370px;
    height: 72px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.left-side-1-top{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-align: left;
}

.left-side-2{
    width: 440px;
    height: 28px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: left;
}

.left-side-2 p{
    margin-left: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.left-side-3{
    height: 400px;
    width: 450px;
    margin-left: 60px; 
}

.left-side-3-box1{
    width: 436px;
    height: 100px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-left{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.box-right span{
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    text-align:left ;
    align-items: center;
}

.box-right p{
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}


.C-right-side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.C-right-side img{
    height: 350px;
    width: 550px;
    border-radius: 15px;
    margin-top: 140px;
}

/* D */

.D{
    height: 500px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #F7D2D2;;
}

.D-header{
    width: 304px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 43px;
}

.D-header p{
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color:#0A66C2;
}

.D-testimony{
    height: 306px;
    margin-left: 60px;
    padding: 32px 0px;
    width: 1180px;
    margin-bottom: 58px;
    display: flex;
    gap: 38px;
    overflow: hidden;
}

.testimony-box{
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #EEDCEE;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.Quote{
    display: flex;
}
.Quote img{
    margin-top: -25px;
    margin-left: -120px;
}

.box-top{
    height: 140px;
    width: 270px;
}

.top-title{
    height: 40px;
    width: 250px;
    margin-left: 8px;
    display: flex;
    align-items:center;
}

.top-title p{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.top-body{
    height: 90px;
    width: 250px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.top-body p{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

.box-bottom-person{
    width: 250px;
    height: 60px;
    display: flex;
    padding: 0px;
}
.perso-img{
    width: 50px;
    display: flex;
    align-items: center;
}

.perso-img img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.info-perso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    height: 60px;
}

.perso-name{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.perso-name-t{
    display: flex;
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


/* E */

.E{
    height: 380px;
    display: flex;
    flex-direction: column;
    background: #EEDCEE;
}

.E-top-part{
    height: 205px;
    width: 1180px;
    margin-left: 60px;
    margin-top: 68px; 
}

.E-end-part{
    height: 50px;
    width: 578px;
    display: flex;
    align-items: center;
    margin-left: 400px;
}

.E-end-part p{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.25);
}

.part-box-1{
    height: 44px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1-left{
    height: 44px;
    width: 600px;
    display: flex;
    align-items: center;
}

.box-1-left p{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.box-1-right{
    width: 146px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.part-box-2{
    display: flex;
    align-items: center;
}

.box-2-left{
    width: 380px;
    height: 149px;
    display: flex;
    align-items: center;
    text-align: left;

}

.box-2-left ul li{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.box-2-right{
    width: 576px;
    height: 50px;
    margin-left: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-2-right input{
    width: 432px;
    height: 50px;
    outline: none;
    border: none;
    background: #FFFFFF;
    margin: 0;
    border-radius: 10px;
}

::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    padding: 0 8px;
    align-items: center;
    color: rgba(0, 0, 0, 0.25);
}

.box-2-right span{
    width: 82px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4387CA;
    border-radius: 15px;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}




/*  */
@media (max-width: 1000px) {

    .imageF{
        width: 250px;
        height: 250px;
        margin-right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .A{
        height: 400px;
        width: 91%;
        border: 1px solid;
    }

    .ecriture div{
        font-size: 2.0rem;
    }

    .B{
        height: 300px;
        width: 91%;
        border: 1px solid;
    }

    .B p{
        font-size: 1.5rem;
    }

    .mentor{
        height: 11rem;
        width: 9rem;
    }

    .mentor img{
        height: 4em;
        width: 4em;
    }

    .learn{
        height: 1.8rem;
        width: 7rem;
        font-size: small;
    }   
    
    .C{
        height: 600px;
        width: 91%;
        border: 1px solid;
    }

    .D{
        height: 300px;
        width: 91%;
        border: 1px solid;
    }

    .E{
        height: 300px;
        width: 91%;
        border: 1px solid;
    }
}