
*{
    box-sizing: border-box; 
}
/* NAVBAR */
.navbar{
    height: 60px;
    width: 100%;
    gap: 30px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C8A2C8;
}

.Menu {
    display: none;
}
/* LOGO  CHILD*/
.logo{
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 55px;
}

/* NAVIGATIONS CHILD */

.navigations{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: left;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.route {
    text-decoration: none;
    color: black;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
}

/* NAVIGATION CHILD */

.navigation{
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.list select{
    background-color: transparent;
    font-family: 'Ubuntu';
    outline: none;
    font-size: 0.9rem;
}

.list select option{
    font-family: 'Ubuntu';
}

.rout{
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route{
    font-family: 'Ubuntu';
}

.route1{
    height: 30px;
    width: 100px;
    border-radius: 6px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 102, 194, 0.8);

}

@media (max-width: 900px) {
    .navbar{width: 70%;}
    .navigation{
        width: 30%;
        margin-right: 25px;
    }
}

@media (max-width: 1000px) {
    .navbar {width: 80%;}
    .menu{width: 30%;}
    .navigation{width: 30%;}
    .logo{width: 20%;}
  }

  @media (max-width: 375px) {
    .navigations{display: none;}
    .Menu{display: block;
        margin-left: 30px;}
    .logo{width: 15%;}
    .navbar{display: flex;
        justify-content: space-between; width: 375px;}
    .navigation{ width: 30%;}
  }